.plain {
    background: white;
    color: black;
}

.style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 5px;
        width: 220px;
        height: 220px;
        background: #F07167;
    }
}